/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
     font-family: "Montserrat", sans-serif;
    background-color: #F6F5F3;
}
h1{
    font-family: "Nerko One", cursive;
    font-size: 36px;
    text-align: center;
    color: #FF9613;
}
h2{
    font-weight: 800;
    font-size: 25px;
    color: #4E3969;
}
h3{
    font-size: 16px;
    font-weight: 300;
    color: #585858;
}
/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/
header{
    background-color: #fff;
    text-align: center;
    position: sticky;
    top: 0%;
    left: 0;
    z-index: 20;
}
/*----------------
    MAIN
------------------*/
main{
    padding: 28px;
}

.intro h2{
   margin-top: 10px; 
   margin-bottom: 10px;
}

.intro h2 > span{
    display: none;

}
/*----------------
    FOOTER
------------------*/



/*----------------
    RESPONSIVE
------------------*/
@media screen and (min-width: 768px) {
    header{
        text-align: left;
    }
    .intro h2 > span{
        display:inline;
    
    }

    
}